.modal {
  display: none; 
  position: relative; 
  z-index: 1050; 
  padding: 20px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; 
  align-content: center;
  background-color: rgba(0,0,0,0.9);
}

/* Modal Image */
.modal-content {
  max-width: 95vw;  /* responsive width */
  max-height: 95vh; /* responsive height */
  margin: auto;  
  object-fit: contain; /* maintain aspect ratio */
  display: block;
  border-radius: 10px;
 
}

/* Caption */
#caption {
  text-align: center;
  color: #f1f1f1;
  padding: 10px;
  font-size: 18px;
}

/* Close Button */
.close {
  z-index: 9999;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f8f5f5; 
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: #f3efef;
}

/* Navigation Arrows */
.modal .prev,
.modal .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(250, 248, 248);
  font-weight: bold;
  font-size: 30px;
  user-select: none;
  transition: 0.3s;
}

.modal .prev {
  left: 20px;
}
.modal .next {
  right: 20px;
}

.modal .prev:hover,
.modal .next:hover {
  color: #f8f5f5;
  transform: scale(1.2);
}
